<mat-drawer-container class="example-container" autosize>
  <mat-icon (click)="drawer.toggle()">home</mat-icon>
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button> -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <!-- <p>Auto-resizing sidenav</p> -->
    
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
  </mat-drawer>

  <!-- <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div> -->

</mat-drawer-container>


<<!-- div class="w-60 h-full shadow-md bg-cyan-400 px-1 absolute">
    <ul class="relative">
      <li *ngFor="let item of elemnts" class="relative" >
        <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-100 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-3 h-3 mr-3" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            
          </svg>
          <span>{{item}}</span>
        </a>
      </li>
    </ul>
  </div> -->
