
<div class="flex flex-col justify-between h-screen">

    <div class="h-16">
        <app-nav ></app-nav>  <!-- ([SidenavStatus]="drawer.opened" (sideSwitchNavBarOutPut))="drawer.toggle()" -->
    </div>
 <div >
     <div>
        <mat-drawer-container class="example-container" autosize>
            <mat-drawer #drawer
              class="w-52 bg-red-700"
              mode="side">
        <!--bg-primary-50 dark:bg-default-600 transition-colors ease-in-out duration-500 border-r border-primary-200 dark:border-default-700-->
        </mat-drawer>
        </mat-drawer-container>
         <!-- <div><app-asiden class="h-1/4"></app-asiden></div> -->
         
         <!-- <div id="comp-crud" *ngIf="display">
             <app-main class="h-3/4"></app-main>
         </div> -->
         <!-- <div id="comp-list" *ngIf="crud" class="flex justify-center items-center">
             <app-listado-alumnos ></app-listado-alumnos>
         </div> -->
         <!-- <div id="logout" *ngIf="logout">
             <app-main class="h-3/4"></app-main>
         </div> 
     </div>-->
 </div>
 <div>
    <app-footer class="align-bottom"></app-footer>
 </div>
 
</div>

