<mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav mode="side" closed class="secondary" [fixedInViewport]="false"
    fixedTopGap="0" fixedBottomGap="0">
    
    <mat-selection-list #items [multiple]="false">
      <mat-list-option *ngFor="let opt of routes" [routerLink]="opt.path"  [value]="opt.label">
        {{opt.label}}
      </mat-list-option>
    </mat-selection-list>
    
    <p>
      Option : {{items.selectedOptions.selected[0]?.value}}
    </p>
    </mat-sidenav>

  </mat-sidenav-container>