<nav>
  <mat-toolbar color="secondary" class="justify-between">
    <div class="flex items-center">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="sideSwitch()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>JAM</span>
    </div>
    <div class="flex items-center">
      <button mat-button [matMenuTriggerFor]="cursos">Cursos</button>
        <mat-menu #cursos="matMenu">
          <button mat-menu-item>ABM</button>
          <button mat-menu-item>Listado</button>
        </mat-menu>
          <button mat-button [matMenuTriggerFor]="alumnos">Alumnos</button>
        <mat-menu #alumnos="matMenu">
          <button mat-menu-item routerLink="alumnosabm">ABM</button>
          <button mat-menu-item routerLink="/listados"> Listado </button>
        </mat-menu>

      <!-- <span class="example-spacer"></span>
      <button mat-button *ngFor="let menu of itemMenu" (click)="seleccion(menu)">{{menu}}</button> -->
    </div>
    <div class="flex items-center">
      <div class="items-end">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>search</mat-icon>
        </button>  
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button> -->
        <button (click)="logOut()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
  </div>
  </mat-toolbar>
</nav>

  <!-- componetisar esta seccion 
<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <div class="w-1/6 p-1 md:p-2">
        <img class="block object-cover object-center w-full h-full rounded-lg"
          src="https://www.logo-arte.com/imagenes/heraldica/martinez3.gif">
      </div>
      <a class="font-semibold text-xl tracking-tight" href="https://es.wikipedia.org/wiki/Mart%C3%ADnez_(apellido)">JAM</a>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div *ngFor="let menu of itemMenu" class="text-sm lg:flex-grow">
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          {{menu}}
        </a>
       
      </div>
      <div>
        <a href="https://www.google.com/" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Buscar</a>
      </div>
    </div>
  </nav>-->